<h3>Create An Account</h3>
<form class="ui form" [formGroup]="authForm">
    <app-input
        inputType="text"
        label="Username"
        [control]="authForm.get('username')"
    ></app-input>
    <app-input
        inputType="password"
        label="Password"
        [control]="authForm.get('password')"
    ></app-input>
    <app-input
        inputType="password"
        label="Confirm Password"
        [control]="authForm.get('passwordConfirmation')"
    ></app-input>
    <div *ngIf="checkForPasswordMatchErrors()" class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDoNotMatch">Passwords must match.</p>
    </div>
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
</form>
