<form class="ui form" [formGroup]="emailForm">
    <app-input
        label="To:"
        [control]="emailForm.get('to')"
        inputType="email"
    >
    </app-input>
    <app-input
        label="From:"
        [control]="emailForm.get('from')"
        inputType="text"
    >
    </app-input>
    <app-input
        label="Subject:"
        [control]="emailForm.get('subject')"
        inputType="text"
    >
    </app-input>
    <app-input
        controlType="textarea"
        label="Body:"
        [control]="emailForm.get('text')"
    >
    </app-input>
    <button (click)="onSend()"class="ui primary button">Send</button>
</form>
